@font-face {
  font-family: "Open-sans-bold";
  font-display: swap;
  src:
    local("OpenSans-Bold"),
    url("../fonts/OpenSans-Bold.woff2");
}

@font-face {
  font-family: "OpenSans-Regular";
  font-display: swap;
  src:
    local("OpenSans-Regular"),
    url("../fonts/OpenSans-Regular.woff2");
}