*,
*::after,
*::before {
  box-sizing: border-box;
}

// это для того чтобы все блоки были такого типа

img {
  max-width: 100%;
  height: auto;
  display: block;
}

// чтобы картинки занимали всю ширину родителя

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  color: white;
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

button, input[type="submit"], input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

p, h1, h2, h3 {
  margin: 0;
}

ul {
  list-style-type: none;
}

.block-hide {
  display: none;
}

.block-show {
  display: block;
}

.container {
  max-width: 1260px;
  margin: 0 auto;
  padding-left: 30px;
  padding-right: 30px;
  @media (max-width: 1300px) {
    max-width: 640px;
  }
  @media (max-width: 700px) {
    max-width: 360px;
    padding-left: 20px;
    padding-right: 20px;
  }
}