.header {
  height: 72px;
  display: flex;
  // background-color: $dark-blue;
  align-items: center;
  padding-left: 40px;
  padding-right: 40px;
  background: linear-gradient(to right, $purple 0%, $purple 40%, $blue 80%, $orange 95%);
}

.header-menu {
  font-size: 24px;
  font-weight: 700;
  display: flex;
  gap: 25px;
  margin-left: auto;
  list-style-type: none;
  position: relative;
  @media (max-width: 930px) {
      display: none;
      overflow: hidden;
      max-height: 0;
      transition: max-height 5s ease;
    }
}

@media (max-width: 930px) {
  .header-menu.show {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 72px;
    left: 0;
    padding-left: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 40px;
    background-color: $purple;
    max-height: 400px;
  }
}

.header-logo {
  font-size: 36px;
  font-weight: 700;
  span {
    color: $orange;
  }
  @media (max-width: $phone) {
    font-size: 24px;
  }
}

.header-menu-item {
  text-transform: uppercase;
  @include hover-active-opacity;
}

.burger-menu {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
  // padding: 10px;
  margin-left: 40px;
  margin-top: 7px;
  @media (max-width: 930px) {
    display: block;
  }
}

.burger-menu {
  @include hover-active-opacity;
  .line {
  display: block;
  width: 25px;
  height: 3px;
  background-color: $orange;
  margin-bottom: 6px;
  position: relative;
  &::before,
  &::after {
    content: "";
    position: absolute;
    background-color: $orange;
    width: 25px;
    height: 3px;
    left: 0;
  }
  &::before {
    transform: translateY(8px) ;
  }
  &::after {
    transform: translateY(-8px);
  }
}
  .cross {
    position: relative;
    width: 25px;
    height: 25px;
    background-color: transparent;
    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      background-color: $orange;
    }
    &::before {
      width: 25px;
      height: 3px;
      transform: translate(-50%, -50%) rotate(45deg);
    }
    &::after {
      width: 3px;
      height: 25px;
      transform: translate(-50%, -50%) rotate(45deg);
    }
  }
}

.header-main {
  position: relative;
  background-color: $dark-blue;
  height: calc(100vh - 72px);
  padding-left: 120px;
  @include pt;
  background-size: cover;
  background-image:
  url("@img/header-bg.jpg");
  z-index: -1;
  @media (max-width: $tablet) {
    padding-left: 40px;
  }
  @media (max-width: $phone) {
    padding-left: 0;
  }
}

.header-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(48, 54, 66, .95) 50%, #303642 100%);
  // opacity: 0.95; /* opacity of the overlay */
  z-index: -2;
}

.header-description {
  font-weight: 400;
  font-size: 32px;
  line-height: 48px;
  width: 70%;
  @media (max-width: $tablet) {
    font-size: 24px;
    line-height: 32px;
    width: 100%;
  }
  @media (max-width: $phone) {
    @include font-light-18;
  }
}

.header-main-label {
  font-weight: 700;
  font-size: 96px;
  margin-top: 70px;
  span {
    color: $orange;
  }
  @media (max-width: $tablet) {
    font-size: 72px;
  }
  @media (max-width: $phone) {
    font-size: 56px;
    margin-top: 40px;
  }
}

.header-text {
  z-index: 2;
}

.header-info {
  margin-top: 70px;
  font-weight: 400;
  font-size: 32px;
  line-height: 48px;
}

.header-image {
  position: absolute;
  top: 140px;
  right: 0;
  z-index: -1;
  @media (max-width: $tablet) {
    top: 50px;
    right: -70px;
  }
  @media (max-width: $phone) {
    width: 300px;
    right: 0;
    top: 120px;
  }
}

.header-place-text,
.header-date-text 
{
  padding-left: 40px;
}

.header-place-text {
  background-image: url("@img/header-place-icon.png");
  background-position: 0% 30%;
  background-repeat: no-repeat;
  background-size: 30px 30px;
  @media (max-width: $tablet) {
    font-size: 24px;
    line-height: 32px;
  }
}

.header-date-text {
  background-image: url("@img/header-date-icon.png");
  background-position: 0% 30%;
  background-repeat: no-repeat;
  background-size: 30px 30px;
  @media (max-width: $tablet) {
    font-size: 24px;
    line-height: 32px;
  }
}

.header-decor-1,
.header-decor-2,
.header-decor-3,
.header-decor-4, {
  position: absolute;
  z-index: -1;
}

.header-decor-1 {
  top: 0;
  right: 0;
}

.header-decor-2 {
  bottom: 0;
  left: 0;
}

.header-decor-3 {
  bottom: 408px;
  left: 243px;
  @media (max-width: $phone) {
    display: none;
  }
}

.header-decor-4 {
  bottom: 187px;
  left: 576px;
  opacity: 0.3;
  @media (max-width: $phone) {
    display: none;
  }
}

