#scrollButton {
  display: none;
  position: fixed;
  top: 20px;
  right: 20px;
  width: 0;
  height: 0;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  border-bottom: 50px solid $orange;
  // background-color: $orange;
  cursor: pointer;
  opacity: 0.4;
  z-index: 999;
}

#scrollButton.show {
  display: block;
}

//RULES//

.rules {
  background-color: $dark;
  @include pt;
  @include pb;
}

.rules-flex-container {
  display: flex;
  gap: 70px;
  align-items: stretch;
  @media (max-width: $tablet) {
    gap: 40px;
  }
  @media (max-width: $phone) {
    gap: 20px;
    flex-direction: column;
  }
}

.rules-flex-container-left,
.rules-flex-container-right {
  width: 50%;
  @media (max-width: $phone) {
    width: 100%;
  }
}

.rules-title {
  @include font-bold-h2;
  span {
    color: $blue;
  }
  @media (max-width: $tablet) {
    @include font-bold-h3;
  }
  @media (max-width: $phone) {
    @include font-bold-20;
  }
}

.tournament-label,
.cheerleaders-label {
  @include font-bold-h3;
  span {
    color: $orange;
  }
  @media (max-width: $tablet) {
    font-size: 24px;
  }
  @media (max-width: $phone) {
    @include font-bold-20;
  }
}

.rules-list {
  list-style-type: disc;
  margin-top: 30px;
}

.rules-list-item,
.tournament-text,
.cheerleaders-text {
  @include font-light-24;
  margin-top: 10px;
  @media (max-width: $tablet) {
    font-size: 18px;
  }
  @media (max-width: $phone) {
    margin-left: -40px;
    font-size: 14px;
  }
}

.rules-asterix {
  font-size: 16px;
  line-height: 24px;
  margin-top: 40px;
  margin-left: 40px;
  font-weight: 100;
  @media (max-width: $tablet) {
    font-size: 12px;
  }
  @media (max-width: $phone) {
    font-size: 8px;
    line-height: 12px;
    margin-left: 0;
  }
}

.rules-flex-container-right {
  height: 100%;
}

.tournament-text-flexbox {
  display: flex;
  align-items: center;
  gap: 20px;
}

.podium-icon,
.medal-icon {
  @media (max-width: $phone) {
    width: 60%;
  }
}

.cheerleaders-label {
  margin-top: 40px;
}

.tournament-text,
.cheerleaders-text {
  margin-top: 20px;
}

.six-people-icon,
.ten-people-icon {
  margin-top: 40px;
}

//REASONS//

.reasons {
  background-color: $dark;
  @include pt;
  @include pb;
}

.reasons-title {
  @include font-bold-h2;
  margin-bottom: 90px;
  span {
    color: $orange;
  }
  @media (max-width: $tablet) {
    @include font-bold-h3;
  }
  @media (max-width: $phone) {
    @include font-bold-20;
    margin-bottom: 30px;
    text-align: center;
  }
}

.reasons-cards {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.reason-card {
  max-width: 280px;
  @media (max-width: $tablet) {
    margin-bottom: 50px;
  }
  @media (max-width: $phone) {
    max-width: 250px;
  }
}

.reason-card-text {
  @include font-light-18;
  margin-top: 10px;
  @media (max-width: $tablet) {
    font-size: 14px;
   }
  @media (max-width: $phone) {
    
  }
}

.reason-card:last-of-type {
  margin-bottom: 0;
}

.reason-card-decor {
  width: 270px;
  height: 70px;
  background-color: #555;
  position: relative;
  padding-top: 12px;
  padding-left: 15px;
  margin-bottom: 50px;
  @media (max-width: $tablet) {
    margin-bottom: 20px;
   }
  @media (max-width: $phone) {
    
  }
}

.reason-card-decor:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 70px 30px; /* задаем скошенную сторону справа */
  border-color: transparent transparent $dark transparent;
  // transform: translateY(-100%);
}

.reason-card-decor-text {
  max-width: 250px;
  font-size: 18px;
  font-weight: 400;
}

.reason-card-decor-1 {
  background-color: $orange;
}

.reason-card-decor-2 {
  background: linear-gradient(to right, $purple 20%, $dark-blue 100%);
}

.reason-card-decor-3 {
  background-color: $blue;
}

.reason-card-decor-4 {
  background: linear-gradient(to right, $blue 20%, $dark-blue 100%);
}

//PRIZE//

.prize {
  background-color: $dark;
  @include pt;
  @include pb;
}

.prize-title {
  @include font-bold-h2;
  margin-bottom: 50px;
  text-align: center;
  span {
    color: $orange;
  }
  @media (max-width: $tablet) {
    @include font-bold-h3;
  }
  @media (max-width: $phone) {
    @include font-bold-20;
    margin-bottom: 20px;
  }
}

.prize-subtitle {
  @include font-light-24;
  margin-top: 40px;
  text-align: center;
  margin-bottom: 70px;
  @media (max-width: $tablet) {
    @include font-light-18;
  }
  @media (max-width: $phone) {
    font-size: 14px;
    margin-bottom: 20px;
  }
}

.prize-cards {
  display: flex;
  justify-content: space-between;
  // gap: 50px;
  flex-wrap: wrap;
  @media (max-width: $phone) {
    flex-direction: column;
  }
}

.prize-card {
  max-width: 350px;
  position: relative;
  @media (max-width: $tablet) {
    width: 33%;
  }
  @media (max-width: $phone) {
    width: 100%;
  }
}

.prize-card-text-box {
  // background-color: $blue;
  height: 340px;
  margin-top: 100px;
  padding-top: 127px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
  @media (max-width: $tablet) {
    margin-top: 60px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    height: 360px;
  }
  @media (max-width: $phone) {
    margin-top: 80px;
    height: auto;
    padding-bottom: 30px;
  }
}

.prize-card-img {
  z-index: 1;
  max-width: 250px;
  position: absolute;
  left: 50px;
  @media (max-width: $tablet) {
    left: 0;
    width: 100%;
  }
  @media (max-width: $phone) {
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }
}

.prize-card-text-box-1 {
  background: linear-gradient(to right top, $blue 0%, $purple 50%);
}

.prize-card-text-box-2 {
  background-color: $orange;
}

.prize-card-title {
  font-size: 24px;
  height: 58px;
  margin-bottom: 20px;
  @media (max-width: $tablet) {
    font-size: 18px;
  }
  @media (max-width: $phone) {
    margin-bottom: 5px;
    height: 45px;
  }
}

.prize-card-text {
  @include font-light-18;
  @media (max-width: $tablet) {
    font-size: 14px;
   }
  @media (max-width: $phone) {
    
  }
}

//TIMELINE//

.timeline {
  @include pt;
  @include pb;
  position: relative;
  background: linear-gradient(to right top, $blue 0%, $purple 50%);
  min-height: 800px;
  @media (max-width: $tablet) {
    min-height: 690px;
   }
  @media (max-width: $phone) {
    height: 800px;
  }
}

.timeline:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 300px 300px 0; /* задаем скошенную сторону справа */
  border-color: transparent $dark transparent transparent;
  @media (max-width: $tablet) {
    border-width: 0 150px 150px 0; /* задаем скошенную сторону справа */
  }
  @media (max-width: $phone) {
    border-width: 0 70px 70px 0;
  }
}

.timeline:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 300px 300px 0; /* задаем скошенную сторону справа */
  border-color: transparent transparent $dark transparent;
  // transform: translateY(-100%);
  @media (max-width: $tablet) {
    border-width: 0 150px 150px 0; /* задаем скошенную сторону справа */
  }
  @media (max-width: $phone) {
    border-width: 0 70px 70px 0;
  }
}

.timeline-title {
  @include font-bold-h2;
  margin-left: 540px;
  span {
    color: $orange;
  }
  @media (max-width: $tablet) {
    @include font-bold-h3;
    margin-left: 300px;
   }
   @media (max-width: 930px) {
   position: absolute;
   z-index: 999;
   width: 40%;
   line-height: 38px;
   }
  @media (max-width: $phone) {
    @include font-bold-20;
    width: 300px;
    text-align: center;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    top: 350px;
  }
}

.timeline-subtitle {
  @include font-light-24;
  margin-top: 40px;
  margin-bottom: 70px;
  margin-left: 540px;
  @media (max-width: $tablet) {
    @include font-light-18;
    margin-left: 300px;
   }
   @media (max-width: 930px) {
    position: absolute;
    z-index: 999;
    top: 230px;
    width: 40%;
    }
  @media (max-width: $phone) {
    font-size: 14px;
    width: 300px;
    text-align: center;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    top: 400px;
  }
}

.timeline-computer {
  position: absolute;
  top: 100px;
  left: 110px;
  z-index: 0;
  width: 500px;
  z-index: 0;
  @media (max-width: $tablet) {
    width: 300px;
    top: 50px;
    left: 20%;
   }
  @media (max-width: $phone) {
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
  }
}

.timeline-phone {
  position: absolute;
  top: 300px;
  left: 80px;
  width: 200px;
  @media (max-width: $tablet) {
    width: 100px;
    top: 200px;
    left: 15%;
   }
  @media (max-width: $phone) {
    left: 100px;
  }
}

.timeline-block-container {
  position: absolute;
  top: 450px;
  width: 1000px;
  height: 450px;
  overflow: auto;
  left: 100px;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
  // display: block;
  @media (max-width: $tablet) {
    width: 700px;
    top: 400px;
    left: 0;
   }
  @media (max-width: $phone) {
    width: 400px;
    top: 500px;
  }
}

.timeline-block {
  position: absolute;
  width: 1000px;
  height: 450px;
  left: 0; 
  right: 0; 
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 60px;
  // white-space: nowrap;
  overflow-x: scroll;
  @media (max-width: $tablet) {
    width: 700px;
   }
  @media (max-width: $phone) {
    
  }
}

.timeline-arrow {
  width: 98%; /* Adjust the width as needed */
  height: 10px; /* Adjust the height as needed */
  background-color: $orange;
  position: relative;
  top: 200px;
  left: 0;
  @media (max-width: $tablet) {
    top: 165px;
   }
  @media (max-width: $phone) {
    
  }
}

.timeline-arrow::before {
  content: "";
  position: absolute;
  top: -10px;
  left: 100%;
  border: solid transparent;
  border-width: 15px;
  border-left-color: $orange;
}

.timeline-arrow::after {
  content: "";
  position: absolute;
  top: -10px;
  left: 100%;
  border: solid transparent;
  border-width: 15px;
  border-left-color: $orange;
  margin-left: -1px;
}

.timeline-markers {
  width: 100%;
  display: flex;
  justify-content: space-around;
  gap: 10px;
  position: absolute;
  top: 180px;
  @media (max-width: $tablet) {
    top: 155px;
   }
  @media (max-width: $phone) {
    
  }
}

.timeline-marker {
  background-color: $blue;
  height: 50px;
  width: 50px;
  border-radius: 25px;
  margin-left: 50px;
  margin-right: 50px;
  background-size: 30px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  @media (max-width: $tablet) {
    height: 30px;
    width: 30px;
    background-size: 20px;
   }
  @media (max-width: $phone) {
    
  }
}

.timeline-marker-1,
.timeline-marker-3 {
  background-image: url("@img/email-icon.png");
}

.timeline-marker-2 {
  background-image: url("@img/sandwatch-icon.png");
}

.timeline-marker-4 {
  background-image: url("@img/camera-icon.png");
}

.timeline-marker-5 {
  background-image: url("@img/recycle-icon.png");
}

.timeline-markers-upper-text {
  display: flex;
  justify-content: space-around;
  gap: 10px;
  align-items: flex-end;
  font-weight: 100;
  font-size: 14px;
  text-align: center;
  @media (max-width: $tablet) {
    font-size: 12px;
    align-items: flex-end;
   }
  @media (max-width: $phone) {
    
  }
}

.timeline-markers-upper-text-element {
  width: 150px;
}

.timeline-markers-down-text {
  width: 100%;
  display: flex;
  justify-content: space-around;
  gap: 10px;
  font-weight: 100;
  font-size: 14px;
  color: $orange;
  text-align: center;
  align-items: flex-start;
  margin-top: 51px;
  @media (max-width: $tablet) {
    font-size: 12px;
    margin-top: 26px;
   }
  @media (max-width: $phone) {
    
  }
}

.timeline-markers-down-text-element {
  width: 150px;
}

//TIMING

.timing {
  @include pt;
  background-color: $dark;
  position: relative;
  z-index: 0;
  @include pb;
}

.timing-image {
  z-index: 1;
  margin: 0;
  margin-top: 50px;
  @media (max-width: $phone) {
    position: absolute;
    right: 0;
    top: 0;
    min-width: 500px;
  }
}

.timing-decor-1 {
  height: 40px;
  width: 500px;
  position: absolute;
  top: 300px;
  background-color: $purple;
  z-index: -1;
  @media (max-width: $tablet) {
    top: 150px;
   }
  @media (max-width: $phone) {
    display: none;
  }
}

.timing-decor-2 {
  height: 40px;
  width: 964px;
  position: absolute;
  top: 525px;
  right: 0;
  background: linear-gradient(to right, $purple 0%, $purple 40%,$blue 80%, $orange 95%);
  z-index: -1;
  @media (max-width: $tablet) {
    width: 640px;
    top: 281px;
   }
  @media (max-width: $phone) {
    top: 209px;
    height: 72px;
  }
}

.timing-decor-2:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 40px 40px 0; /* задаем скошенную сторону справа */
  border-color: transparent transparent $dark transparent;
}

.timing-title {
  position: absolute;
  top: 427px;
  @include font-bold-h2;
  @media (max-width: $tablet) {
    @include font-bold-h3;
    top: 200px;
   }
  @media (max-width: $phone) {
    @include font-bold-20;
    top: 170px;
    z-index: 3;
  }
}

.timing-subtitle {
  position: absolute;
  z-index: 3;
  top: 600px;
  @include font-bold-h3;
  width: 300px;
  span {
    color: $orange;
  }
  @media (max-width: $tablet) {
    font-size: 24px;
    line-height: 24px;
    top: 287px;
    width: 100%;
   }
  @media (max-width: $phone) {
    @include font-bold-20;
    width: 300px;
    top: 220px;
  }
}

.timing-cards {
  display: flex;
  justify-content: end;
  @media (max-width: $phone) {
    flex-direction: column;
    margin-top: 200px;
  }
}

.timing-card {
  width: 268px;
  height: 327px;
  padding: 30px;
  padding-top: 50px;
  padding-left: 50px;
  @media (max-width: $tablet) {
    width: 33%;
    padding: 20px;
    padding-top: 20px;
    padding-left: 25px;
   }
  @media (max-width: $phone) {
    width: 100%;
    height: auto;
    padding-left: 40px;
  }
}

.timing-card-1 {
  background-color: $purple;
  position: relative;
  margin-top: 38px;
  @media (max-width: $phone) {
    margin-top: 31px;
  }
}

.timing-card-1:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 70px 70px 0;
  border-color: transparent transparent $dark transparent;  
  @media (max-width: $tablet) {
    border-width: 0 30px 30px 0;
   }
  @media (max-width: $phone) {
    
  }
}

.timing-card-1:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 70px 70px 0; /* задаем скошенную сторону справа */
  border-color: transparent $dark transparent transparent;  
  @media (max-width: $tablet) {
    border-width: 0 30px 30px 0; /* задаем скошенную сторону слева */
   }
  @media (max-width: $phone) {
    
  }
}

.timing-card-2 {
  background-color: $blue;
  margin-top: 140px;
  position: relative;
  @media (max-width: $phone) {
    margin-top: 0;
  }
}

.timing-card-2:before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 70px 70px; /* задаем скошенную сторону слева */
  border-color: transparent transparent $dark transparent;
  @media (max-width: $tablet) {
    border-width: 0 0 30px 30px; /* задаем скошенную сторону слева */
   }
  @media (max-width: $phone) {
    
  }
}

.timing-card-2:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 70px 70px; /* задаем скошенную сторону справа */
  border-color: transparent transparent transparent $dark;
  @media (max-width: $tablet) {
    border-width: 0 0 30px 30px; /* задаем скошенную сторону слева */
   }
  @media (max-width: $phone) {
    
  }
}

.timing-card-3 {
  background-color: $orange;
  margin-top: 38px;
  position: relative;
  @media (max-width: $phone) {
    margin-top: 0;
  }
}

.timing-card-3:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 70px 70px 0; /* задаем скошенную сторону слева */
  border-color: transparent transparent $dark transparent;
  @media (max-width: $tablet) {
    border-width: 0 30px 30px 0; /* задаем скошенную сторону слева */
   }
  @media (max-width: $phone) {
    
  }
}

.timing-card-3:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 70px 70px 0; /* задаем скошенную сторону справа */
  border-color: transparent $dark transparent transparent;
  @media (max-width: $tablet) {
    border-width: 0 30px 30px 0; /* задаем скошенную сторону слева */
   }
  @media (max-width: $phone) {
    
  }
}

.timing-card-time {
  @include font-light-24;
  margin-bottom: 10px;
  @media (max-width: $tablet) {
    @include font-light-18;
   }
  @media (max-width: $phone) {
    
  }
}

.timing-card-title {
  font-size: 24px;
  font-weight: 700;
}

.timing-card-list {
  list-style-type: disc;
  @include font-light-18;
  @media (max-width: $tablet) {
    font-size: 14px;
   }
  @media (max-width: $phone) {
    
  }
}

.timing-card-list-item {
  margin-bottom: 5px;
  margin-left: -40px;
}


//PRICE

.price {
  background-color: $dark;
  @include pt;
  @include pb;
}

.price-flexbox {
  display: flex;
  @media (max-width: $tablet) {
    flex-direction: column;
   }
}

.price-text {
  margin-right: 40px;
  margin-top: 200px;
  @media (max-width: $tablet) {
    margin-top: 0;
    margin-right: 0;
    text-align: center;
  }
  @media (max-width: $phone) {
    
  }
}

.price-title {
  @include font-bold-h2;
  margin-bottom: 50px;
  span {
    color: $orange;
  }
  @media (max-width: $tablet) {
    @include font-bold-h3;
   }
  @media (max-width: $phone) {
    @include font-bold-20;
  }
}

.price-subtitle {
  @include font-light-24;
  @media (max-width: $tablet) {
    @include font-light-18;
    margin-bottom: 50px;
   }
  @media (max-width: $phone) {
    font-size: 14px;
  }
}

.price-cards {
  display: flex;
  align-items: start;
  justify-content: end;
  @media (max-width: $phone) {
    flex-direction: column;
  }
}

.price-card {
  width: 268px;
  padding: 40px;
  position: relative;
  @media (max-width: $tablet) {
    padding: 20px;
    width: 33%;
    padding-top: 40px;
   }
  @media (max-width: $phone) {
    width: 100%;
    padding: 30px;
  }
}

.price-card-1 {
  background-color: $purple;
}

.price-card-1:before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 70px 70px;
  border-color: transparent transparent $dark transparent;
  @media (max-width: $tablet) {
    border-width: 0 0 30px 30px;
   }
  @media (max-width: $phone) {
    
  }
}

.price-card-1:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 70px 70px; /* задаем скошенную сторону справа */
  border-color: transparent transparent transparent $dark;
  @media (max-width: $tablet) {
    border-width: 0 0 30px 30px;
   }
  @media (max-width: $phone) {
    
  }
}

.price-card-2 {
  background-color: $blue;
}

.price-card-2:before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 70px 70px; /* задаем скошенную сторону слева */
  border-color: transparent transparent $dark transparent;
  @media (max-width: $tablet) {
    border-width: 0 0 30px 30px;
   }
  @media (max-width: $phone) {
    
  }
}

.price-card-2:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 70px 70px; /* задаем скошенную сторону справа */
  border-color: transparent transparent transparent $dark;
  @media (max-width: $tablet) {
    border-width: 0 0 30px 30px;
   }
  @media (max-width: $phone) {
    
  }
}

.price-card-3 {
  background-color: $orange;
}

.price-card-3:before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 70px 70px; /* задаем скошенную сторону слева */
  border-color: transparent transparent $dark transparent;
  @media (max-width: $tablet) {
    border-width: 0 0 30px 30px;
   }
  @media (max-width: $phone) {
    
  }
}

.price-card-3:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 70px 70px; /* задаем скошенную сторону справа */
  border-color: transparent transparent transparent $dark;
  @media (max-width: $tablet) {
    border-width: 0 0 30px 30px;
   }
  @media (max-width: $phone) {
    
  }
}

.price-card-title {
  height: 50px;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 20px;
  text-align: center;
  @media (max-width: $tablet) {
    font-size: 22px;
   }
  @media (max-width: $phone) {
    
  }
}

.price-euro {
  font-size: 52px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 20px;
  span {
    font-weight: 400;
  }
  @media (max-width: $tablet) {
    font-size: 36px;
   }
  @media (max-width: $phone) {
    font-size: 42px;
  }
}

.price-card-list {
  list-style-type: disc;
  @include font-light-18;
  @media (max-width: $tablet) {
    font-size: 14px;
   }
  @media (max-width: $phone) {
    
  }
}

.price-card-list-item {
  margin-bottom: 5px;
  margin-left: -40px;
}

//ORGANIZERS

.org {
  position: relative;
  background-color: $dark;
  @include pb;
}

.org-flexbox {
  display: flex;
  align-items:flex-start;
  @media (max-width: $phone) {
    flex-direction: column;
  }
}

.org-text-block {
  width: 400px;
  margin-right: 200px;
  z-index: 1;
  @media (max-width: $tablet) {
    width: 200px;
    margin-right: 70px;
   }
  @media (max-width: $phone) {
    
  }
}

.org-img-block {
  position: absolute;
  left: 0;
  top: 0;
  width: 600px;
  height: 800px;
  z-index: 0;
  @media (max-width: $tablet) {
    width: 400px;
    height: auto;
   }
  @media (max-width: $phone) {
    left: 0;
    right: 0;
    width: 100%;
  }
}

.org-image {
  z-index: 1;
}

.org-img-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right top, $orange 10%, $blue 30%, $dark-blue 100%);
  opacity: 0.75; /* opacity of the overlay */
  z-index: 2;
}

.org-title {
  @include font-bold-h3;
  z-index: 3;
  margin-top: 250px;
  margin-bottom: 50px;
  span {
    color: $orange;
  }
  @media (max-width: $tablet) {
    font-size: 24px;
    line-height: 32px;
    margin-top: 170px;
   }
  @media (max-width: $phone) {
    @include font-bold-20;
    margin-top: 30px;
  }
}

.org-subtitle {
  @include font-light-24;
  @media (max-width: $tablet) {
    @include font-light-18;
   }
  @media (max-width: $phone) {
    font-size: 14px;
  }
}

.org-grid-block {
  display: grid;
  grid-template-columns: 50px 50px 50px 50px 50px 1fr;
  grid-template-areas: "title  title  title  title  title  title"
                       "icon-1 icon-1 .      text-1 text-1 text-1"
                       ".      .      icon-2 icon-2 .      text-2"
                       "icon-3 icon-3 .      text-3 text-3 text-3"
                       ".      .      icon-4 icon-4 .      text-4";
  grid-row-gap: 50px;
  @media (max-width: $tablet) {
    grid-row-gap: 20px;
    grid-template-columns: 30px 30px 30px 30px 30px 1fr;
    z-index: 3;
   }
   @media (max-width: 930px) {
    grid-row-gap: 30px;
    // grid-template-rows: 50px;
  }
  @media (max-width: $phone) {
    grid-template-areas: "title  title  title  title  title  title"
                         "icon-1 icon-1 .      text-1 text-1 text-1"
                         "icon-2 icon-2 .      text-2 text-2 text-2"
                         "icon-3 icon-3 .      text-3 text-3 text-3"
                         "icon-4 icon-4 .      text-4 text-4 text-4";
  
  }
}

.org-grid-title {
  @include font-bold-h3;
  margin-top: 50px;
  margin-bottom: 30px;
  grid-area: title;
  z-index: 3;
  @media (max-width: $tablet) {
    font-size: 24px;
    line-height: 32px;
    margin-top: 0;
   }
   @media (max-width: 930px) {
    margin-top: 20px;
  }
  @media (max-width: $phone) {
    margin-top: 50px;
  }
}

.org-grid-icon-1 {
  grid-area: icon-1;
}
.org-grid-icon-2 {
  grid-area: icon-2;
}
.org-grid-icon-3 {
  grid-area: icon-3;
}
.org-grid-icon-4 {
  grid-area: icon-4;
}

.org-grid-text {
@media (max-width: 930px) {
  width: 100%;
}
}

.org-grid-text-1 {
  grid-area: text-1;
}
.org-grid-text-2 {
  grid-area: text-2;
}
.org-grid-text-3 {
  grid-area: text-3;
}
.org-grid-text-4 {
  grid-area: text-4;
}

.org-grid-icon {
  position: relative;
  width: 100px;
  height: 100px;
  background: linear-gradient(to right top, $blue 0%, $dark-blue 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  @media (max-width: $tablet) {
    width: 60px;
    height: 60px;
   }
  @media (max-width: $phone) {
    
  }
}

.org-grid-icon-icon {
  @media (max-width: $tablet) {
    width: 30px;
   }
  @media (max-width: $phone) {
    
  }
}

.org-grid-icon:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 20px 20px 0; 
  border-color: transparent transparent $dark transparent;
  @media (max-width: $tablet) {
    border-width: 0 10px 10px 0; 
   }
  @media (max-width: 930px) {
    border-style: none;
  }
  @media (max-width: $phone) {
    
  }
}

.org-grid-icon:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 20px 20px 0;
  border-color: transparent $dark transparent transparent;
  @media (max-width: $tablet) {
    border-width: 0 10px 10px 0; 
   }
  @media (max-width: 930px) {
    border-style: none;
  }
  @media (max-width: $phone) {
    
  }
}

.org-grid-text {
  padding-top: 5px;
  padding-bottom: 5px;
  width: 400px;
  @media (max-width: $phone) {
    padding: 0;
  }
}

.org-grid-text-title {
  @include font-light-18;
  margin-bottom: 10px;
  @media (max-width: $tablet) {
    font-size: 14px;
   }
   @media (max-width: 930px) {
    font-size: 12px;
  }
  @media (max-width: $phone) {
    font-size: 10px;
  }
}

.org-grid-text-text {
  font-size: 24px;
  font-weight: 700;
  color: $orange;
  @media (max-width: $tablet) {
    font-size: 18px;
   }
   @media (max-width: 930px) {
    font-size: 14px;
  }
  @media (max-width: $phone) {
    min-width: 200px;
  }
}

//END

.end {
  background-color: $dark;
  background-image: url("@img/end.jpg");
  background-size: cover;
  height: 600px;
  z-index: -1;
  position: absolute;
  left: 0;
  right: 0;
  @media (max-width: $tablet) {
    height: 550px;
   }
  @media (max-width: $phone) {
    height: auto;
    padding-bottom: 100px;
  }
}

.end-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $dark;
  opacity: 0.97;
  z-index: -2;
}

.end-decor-1 {
  height: 72px;
  width: 800px;
  background: linear-gradient(to right, $purple 0%, $purple 40%,$blue 80%, $orange 95%);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 40px;
  padding-right: 40px;
  @media (max-width: $tablet) {
    width: 600px;
   }
  @media (max-width: $phone) {
    width: 100%;
  }
}

.end-decor-2 {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
}

.end-date {
  font-size: 36px;
  font-weight: 700;
  @media (max-width: $tablet) {
    font-size: 24px;
   }
  @media (max-width: $phone) {
    
  }
}

.end-title {
  @include font-bold-h2;
  width: 600px;
  margin-top: 150px;
  margin-right: 100px;
  span {
    color: $orange;
  }
  @media (max-width: $tablet) {
    @include font-bold-h3;
    margin-top: 50px;
   }
  @media (max-width: $phone) {
    @include font-bold-20;
    width: 100%;
  }
}

.end-flexbox {
  display: flex;
  margin-top: 30px;
  @media (max-width: $phone) {
    flex-direction: column;
  }
}

.anton {
  margin-bottom: 20px;
}

.end-contact-title {
  margin-bottom: 20px;
  @include font-bold-h3;
  span {
    color: $orange;
  }
  @media (max-width: $tablet) {
    font-size: 24px;
   }
  @media (max-width: $phone) {
    @include font-bold-20;
  }
}

.end-messengers-block {
  @include font-light-24;
  @media (max-width: $phone) {
    font-size: 14px;
  }
}

.end-telegram {
  margin-bottom: 10px;
  padding-left: 40px;
  background-image: url("@img/telegram-icon.png");
  background-size: contain;
  background-repeat: no-repeat;
  // background-position: 0 0px;
}

.email{
  padding-left: 40px;
  background-image: url("@img/email-icon.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 0 0px;
}





